<tr id="conversation-<%=conversation.id%>">
  <td> <%= conversation.person_name %> </td>
  <td> <%= conversation.person_mobile %> </td>
  <td> <%= conversation.last_message_body %> </td>
  <td> <%= conversation.last_contact_name %> </td>
</tr>