<h1>Conversations</h1>

<hr>

<table id="conversations">
  <tr>
    <th>Name</th>
    <th>Mobile</th>
    <th>Last Message</th>
    <th>Last Contact</th>
  </tr>

  <%= render @conversations %>
</table>

<%= will_paginate @conversations %>
